<!DOCTYPE HTML>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="fileHeader">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no" />
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css" />
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <!-- fonts -->
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          th:href="@{https://use.fontawesome.com/releases/v5.8.2/css/all.css}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext"
          th:href="@{https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext}" rel="stylesheet" />

</head>
<body>
<div>
    <header>
        <div class="mb-1 navbar navbar-expand-lg navbar-dark lighten-1 sticky-top header-bg-color" th:insert="fragments/header :: header">The Static Header</div>
    </header>

    <main>
        <div th:if="${message} != null">
            <div layout:insert="~{fragments/message}" class="main container">Message</div>
        </div>
        <div layout:fragment="content" class="main container">The Static Content</div>
    </main>

    <footer>
        <div th:insert="fragments/footer :: footer" class="footer container">The Static Footer -  &copy; 2019 ulman.dev</div>
    </footer>
</div>

<span th:fragment="scriptInput">
    <script src="../../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script src="../../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    </span>
</body>
</html>