<!DOCTYPE HTML>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-md-center">
            <a href="#">
            <div class="col col-lg-2 bg-dark">
                previous
            </div>
            </a>
            <div class="col-md-auto">
                <h1 th:text="${card.word}">word</h1><br/>
                <h1 th:text="${card.translation}">translation</h1><br/>
                <div th:if="${card.imageURL != ''}">
                    <img  th:src="${card.imageURL}" class="img-thumbnail" width="250px"><br/>
                </div>
                <span th:text="${card.description}">description</span>
            </div>
            <a href="#">
            <div class="col col-lg-2 bg-dark">
                next
            </div>
            </a>
        </div>
        <div class="row justify-content-md-center">
            <div><a href="#" th:href="@{|/cards/edit/${card.id}|}"><i class="fas fa-edit fa-2x"></i></a></div>
            <div><a href="#" th:href="@{|/cards/delete/${card.id}|}"><i class="fas fa-trash-alt fa-2x"></i></a></div>

        </div>

</div>
</body>
</html>